#################################################################
# Основные настройки виртуальной SD-карты
#################################################################
[virtual_sdcard]
path: /home/klipper/printer_data/gcodes

#################################################################
# Настройки шагового двигателя по оси X
#################################################################
[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

#################################################################
# Настройки шагового двигателя по оси Y
#################################################################
[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

#################################################################
# Настройки шагового двигателя по оси Z
#################################################################
[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: ^PA7
position_min: -1.0         ; Минимальное значение, допускающее отрицательные координаты
position_endstop: -0.1     ; Установлено с учетом вашего z-offset
position_max: 210

#################################################################
# Настройки экструдера
#################################################################
[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

#################################################################
# Настройки подогреваемого стола
#################################################################
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#################################################################
# Настройки вентилятора
#################################################################
[fan]
pin: PA0

#################################################################
# Настройки микроконтроллера
#################################################################
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

#################################################################
# Основные параметры принтера
#################################################################
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[pause_resume]

#################################################################
# Настройки дисплея с кодировщиком
#################################################################
[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

#################################################################
# Input Shaper (коррекция вибраций)
#################################################################
[input_shaper]
shaper_freq_x: 77.8
shaper_type_x: 3hump_ei
shaper_freq_y: 33.6
shaper_type_y: mzv

#################################################################
# Макрос для хранения клиентских переменных (контейнер, не выполняется)
#################################################################
[gcode_macro _CLIENT_VARIABLE]
gcode:
    # Этот макрос используется для хранения переменных, здесь G‑код не выполняется
variable_use_custom_pos: True
variable_custom_park_x: 10.0
variable_custom_park_y: 10.0
variable_custom_park_dz: 50.0
variable_retract: 2.0
variable_speed_retract: 40.0
variable_speed_move: 150.0

#################################################################
# Макрос для смены филамента (M600)
#################################################################
[gcode_macro M600]
description: Filament change
gcode:
    {% set extruder_temp = params.S | default(200) %}
    M104 S{extruder_temp} ; Установить температуру экструдера
    M117 Changing Filament
    G91 ; Переключаем на относительные координаты
    G1 Z10 F300 ; Подъём оси Z на 10 мм
    G90 ; Возврат к абсолютным координатам
    PAUSE

#################################################################
# Макрос для начала печати (PRINT_START)
#################################################################
[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(180)|float %}
    G90 ; Используем абсолютные координаты
    M83 ; Переключение экструдера в относительный режим
    M104 S{EXTRUDER_TEMP} ; Установить температуру экструдера
    M140 S{BED_TEMP} ; Установить температуру стола
    M190 S{BED_TEMP} ; Дождаться достижения температуры стола
    M109 S{EXTRUDER_TEMP} ; Дождаться достижения температуры экструдера
    G28 ; Home (отправка всех осей в нулевую позицию)
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    LINE_PURGE

#################################################################
# Макрос для окончания печати (CANCEL_PRINT)
#################################################################
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE_CUSTOM
gcode:
  M117 Canceling print (custom macro)
  TURN_OFF_HEATERS
  G91
  G1 Z10 F300
  G90
  G1 X0 Y0 F3000
  M84
  CLEAR_PAUSE
